.nav {
    grid-area: n;
    background-color: darkcyan;
}

.item {
    color: white;h
}

.item.active {
    color: gold;
}
/*let s ={*/
/*'nav': 'Navbar_nav__LK3K4',*/
/*'item': 'Navbar_item__4MjPa',*/
/*}*/